{{- if not .Values.ftp.passwordExistingSecret.name }}
apiVersion: v1
kind: Secret
metadata:
  name: "{{ include "plngxbackup.fullname" . }}"
type: Opaque
stringData:
  ftp-password: "{{ .Values.ftp.password }}"
{{- end }}
